/*POPPINS FONT FAMILY*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: #f5f5f5;
}

header{
  height: 460px;
  background-color: #3400ff;
}

nav{
  float: right;
  margin-right: 40px;
  margin-top: 15px;
  cursor: pointer;
}

.nav-item{
  margin-right: 20px;
  color: #ffffff;
  font-size: 15px;
}

.nav-item-active{
  padding: 5px 10px;
  color: #3400ff;
  font-weight: 400;
  background-color: #ffffff;
  border-radius:  5px;
  margin-right: 20px;
}

.logo{
  margin: 25px 40px;
}

.header-text{
  margin-top: 60px;
  margin-left: 40px;
  color: #ffffff;
  float: left;
}

.header-text h2{
  font-size: 40px;
}


.header-image{
  float: right;
  margin-top: -30px;
}

.companies{
  margin-top: 20px;
  color: #000000;
  margin-left: 45px;
  text-align: center;
}

.company-items{
  color: #000000;
  text-decoration: none;
  font-family: "Righteous";
  font-size: 20px;
  font-weight: 600;
  margin-right: 65px;
}

.api{
  margin-top: 70px;
  margin-left: 50px;
}

.api-heading{
  font-size: 42px;
  font-weight: 800;
  font-style: bold;
}

.cards{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.card{
  width: 20%;
  height: 175px;
  margin-right: 30px;
  padding: 20px;
}

.card-active{
  width: 20%;
  height: 175px;
  margin-right: 30px;
  background-color: #fff;
  box-shadow: 1px 0px 1px rgb(235, 228, 228);
  padding: 20px;
  border-radius: 5px;
}

.card-head-active{
  color: #3400ff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-head{
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-body{
  font-size: 12px;
}

.blog-heading{
  margin: 70px 0px 30px 52px;
  font-size: 22px;
}

.blog-cards{
  display: flex;
  margin: 0 52px;
  gap: 20px;
  
}

.blog-card{
  display: flex;
  width: 50%;
}

.blog-content{
  padding: 20px 25px;
  background-color: #ffffff;
  height: 247px;
  border-radius: 15px;
}

.blog-content h6{
  color: #3400ff;
  margin-bottom: 10px;
}

.blog-content h3{
  font-family: "Righteous";
  font-weight: 800;
  margin-bottom: 10px;
}

.blog-content small{
  font-weight: bold;
}

.blog-bottom{
  position: absolute;
  bottom: -820px;
}

.blog-card-bottom-image{
  position: absolute;
  right: -350px;
}

.blog-author{
  position: absolute;
  top: 719px;
}

.blog-author b{
  position: absolute;
  right: -450px;
  font-size: 12px;
  font-family: Righteous;
  font-weight: 800;
}

.faq-section{
  background-color: #e9edff;
  display: flex;
  justify-content: space-between;
  color: #000000;
  margin: 60px 0px 0px 0px;
  height: 324px;
} 

.faq-content{
  margin: 2rem 3rem;
}

.faq-content h2{
  font-size: 40px;
  line-height: 1;
  font-weight: 800;
  margin-bottom: 1rem;
}

.faq-content h4{
  font-size: 15px;
  font-weight: 200;
  margin-bottom: 2rem;
}

.faq-content :nth-child(3){
  font-size: 18px;
  font-weight: 800;
}

.faq-content button{
  background-color: #3400ff;
  color: #f5f5f5;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
}

.download-section{
    height: 250px;
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
}

.download-content{
  margin: 2rem 0px 0px 4rem;
}

.download-content h1 span{
  font-weight: 200;
}

.download-email form{
  background-color: #e9edff;
  margin-right: 2rem;
  border-radius: 10rem;
}

.download-email input{
  padding: 1rem 9rem 1rem 2rem;
  background: #e9edff;
  border-radius: 30px;
  border: none;
  color: #000000;
}

.download-email button{
  border-radius: 10rem;
  background: #3400ff;
  color: #fff;
  padding: 1rem 3rem;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
}

.footer-section{
  display: flex;
  background-color: #3400ff;
  color: #fff;
  height: 200px;
  justify-content: space-between;
  align-items: center;
}

.footer-left{
  margin: 0rem 4rem;
}

.list{
  margin-top: 20px;
  display: flex;
  list-style: none;
  gap: 25px;
}

.list .list-items:nth-child(2)::after,
.list .list-items:nth-child(3)::after,
.list .list-items:nth-child(4)::after
{
  content: "";
  border-left: 1.5px solid #fff;
  margin-left: 20px;
}

.footer-right img{
  margin-right: 15px;
}

.footer-right{
  margin-right: 30px;
}

.logos-list{
  display: flex;
  list-style: none;
  gap: 10px;
  margin-top: 20px;
  margin-right: 10px;
}

.logos-list .list-items:nth-child(1)::after,
.logos-list .list-items:nth-child(2)::after
{
  content: "";
  border-left: 1.5px solid #fff;
  margin-left: 20px;
}

@media only screen and (max-width: 1160px){
  .header-image{
    float: right;
    margin-top: -30px;
    width: 473px;
  }

  .header-text h2{
    font-size: 30px;
  }

  .blog-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 52px;
    gap: 20px;
    
  }

  .faq-section{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
  }

  .blog-bottom{
    display: none;
  }
  .blog-author{
    display: none;
  }

}

@media only screen and (max-width: 1085px){
  .blog-card{
    flex-direction: column;
    align-items: center;
  }
  .blog-content{
    width: 210px;
  }


}

@media only screen and (max-width: 960px){
  
  .card-active{
    height: 250px;
  }


  header{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 600px;
  }

  .logo{
    width: 100px;
  }
  
  nav{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-text{
    margin-top: 0px;
  }

  .header-text h2{
    font-size: 25px;
  }

  .header-text p{
    font-size: 10px;
  }

  .header-image{
    float: none;
    width: 300px;
    margin-top: 50px;
  }

  .api-heading{
    font-size: 25px;
    text-align: center;
  }

  .blog-heading h1{
    font-size: 25px;
    text-align: center;
  }


  .blog-content{
    width: 210px;
  }

  .faq-section{
    display: flex;
    flex-direction: column-reverse;
    height: 50%;
    align-items: center;
  }

  .faq-image img{
    width: 475px;
  }

  .blog-content h3{
    font-size: 18px;
  }
}

@media only screen and (max-width: 884px) {
  .download-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .cards {
 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
     
    }

}

@media screen and (max-width: 768px) {
  .footer-section{
    height: 250px;
  }
  .footer-logo{
    width: 100px;
    margin-top: 50px;
  }
  .list{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

.list .list-items:nth-child(2)::after,
.list .list-items:nth-child(3)::after,
.list .list-items:nth-child(4)::after
{
  display: none;
}
}

@media screen and (max-width: 600px) {

  nav{
    flex-direction: column;
    gap: 20px;
  }
  .cards{
    display: flex;
    flex-direction: column;
  }

  .faq-content{
    width: 250px;
  }

  .faq-image img{
    width: 250px;
  }

  .footer-logo{
    width: 100px;
    margin-top: 50px;
  }

  .footer-section{
    flex-direction: column;
    height: 450px;
  }

  .header-image{
    width: 100%;
  }

  .blog-card{
    width: 100%;
  }

  .header-text h2{
    font-size: 20px;
  }

  header{
    height: 100vh;
  }

  .download-content{
    font-size: 14px;
    margin: 0px auto;
  }

  .download-email form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .download-section{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .download-email form{
    background-color: #fff;
    border-radius: 10rem;
  }
  
  .download-email input{
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 1em;
  }
  
  .download-email button{
    padding: 0.75rem 2.25rem;
    font-size: 14px;
  }

  .list{
    flex-direction: column;
  }

  nav{
    margin: 1em auto;
  }
  
  .footer-right{
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
}
